* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #000;
    text-decoration: none;
    padding-left: 40px;
}

.logo a span {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    padding: 0px 15px;
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.social-icons a {
    padding: 0px 14px;
    color: #000;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #00000032;
    top: 79px;
}

@media screen and (max-width: 768px) {
    .logo{
        padding-top: 10px;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 25px;
        right: 20px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        background-color: orange;
        display: none;
        flex-direction: column;
        text-align: center;
        height: 430px;
        z-index: 10000;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 30px 0;
    }

    .hamburger {
        display: block;
    }

    .social-icons {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .logo a {
        font-size: 20px;
    }

    .nav-links li a {
        font-size: 14px;
    }

    .hamburger {
        font-size: 24px;
    }
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading h1{
    padding-top: 55px;
    font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 77.45px;
letter-spacing: -0.04em;
text-align: center;
}
.heading p{
    padding-top: 20px;
    font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color:#00000099;
}
.search_box{
    padding-top: 80px;
    position: relative;
}
.search_box input{
width: 700px;
height: 80px;
top: 399px;
left: 370px;
border-radius: 20px;
border: 1px solid #0000001A;
font-family: "Inter", sans-serif;
font-size: 14px;
padding-left: 30px;
}
.search_btn{
    position: absolute;
    width: 160px;
    height: 60px;
    top:90px;
    right: 70px;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
letter-spacing: -0.02em;
border-radius: 20px;
cursor: pointer;
background: #000000;
color: #fff;
}
@media screen and (max-width:960px){
    main{
        flex-direction: column;
    }
   .heading h1{
    font-size: 50px;
   }
   .heading p{
        padding: 15px 30px;
        font-size: 14px;
   }
   .search_box{
        padding: 30px 10px;
   }
   .search_box input{
        width: 100%;
        padding-left: 10px;
        font-size: 12px;
   }
   .search_btn{
    position: absolute;
    top: 40px;
    right: 20px;
   }
}
#inbox{
    width: 100%;
    margin-top: 90px;
    margin-bottom: 190px;
    position: relative;
}
.inbox_box .container{
    width: 100%;
height: 442px;
top: 2223px;
left: 80px;
gap: 0px;
border-radius: 60px;
opacity: 1;
    background: #E7F9FD;
}
.inbox_content{
position: relative;
width: 100%;
text-align: center;
padding-top: 80px;
}
.inbox_box .container h1{
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 58.09px;
letter-spacing: -0.04em;
padding-bottom: 20px;
}
.inbox_box .container p{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #00000099;
}
.search_box_1{
    padding-top: 60px;
    position: relative;
}
.search_box_1 input{
width: 480px;
height: 80px;
top: 430px;
left: 370px;
border-radius: 20px;
border: 1px solid #0000001A;
font-family: "Inter", sans-serif;
font-size: 14px;
padding-left: 30px;
}
.search_box_1 .search_btn{
    position: absolute;
    width: 160px;
    height: 60px;
    top:70px;
    right: 327px;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
letter-spacing: -0.02em;
border-radius: 20px;
cursor: pointer;
background: #000000;
color: #fff;
}
.inbox_content_1{
position: relative;
}
.inbox_img_1{
position: absolute;
right: -10px;
top:140px;
width: 220px;
height: 220px;
}
.inbox_img_2{
    position: absolute;
    left: -10px;
    top:140px;
    width: 220px;
    height: 220px;
}
.inbox_img_3{
    position: absolute;
    right: 225px;
    top:180px;
    width: 66.85px;
height: 90.96px;
rotate: -30deg;
}
@media screen and (max-width:960px) {
    .inbox_content{
        padding-top: 40px;
    }
    .inbox_img img{
        display: none;
    }
    .search_box_1{
        padding: 30px 10px;
   }
   .search_box_1 input{
        width: 100%;
        padding-left: 10px;
        font-size: 12px;
   }
   .search_box_1 .search_btn{
    position: absolute;
    top: 40px;
    right: 20px;
   }
}
/* Blog_lists */

#blog_posts {
    margin-top: 90px;
}

.blog_1,.blog_2,.blog_3,.blog_4,.blog_5,.blog_6 {
    display: flex;
    flex-direction: row; /* Default side-by-side layout */
    margin-bottom: 40px;
}

.blog_1 img {
   width: 61%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}
.blog_2 img {
    width:61%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}.blog_3 img {
    width:34%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}.blog_4 img {
    width:65%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}.blog_5 img {
    width:65%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}.blog_6 img {
    width:65%;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
}
.blog_1 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}.blog_2 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}.blog_3 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}.blog_4 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}.blog_5 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}.blog_6 h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
}

.blog_1 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}
.blog_2 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}.blog_3 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}.blog_4 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}.blog_5 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}.blog_6 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}
.minidiv {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.minidiv img {
    width: 40px;
    height: 40px;
}

.minidiv h1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-top: 10px;
    padding-right: -5px;
    margin-right: 60px;
}

.minidiv span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #00000099;
}
.taste_heading h1{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 38.73px;
letter-spacing: -0.04em;
text-align: left;
padding-bottom: 20px;
}
.taste_box_1{
    display: flex;
    margin-bottom: 20px;
}
.taste_box_1 img{
    width: 180px;
height: 120px;
border-radius: 20px;
margin-right: 20px;
}
.taste_box_1 h1{
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.04em;
text-align: left;
    padding-bottom: 10px;
}
.taste_box_1 span{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
text-align: left;
color: #00000099;
}
#taste1{
    width: 75%;
}
#taste2{
    width: 56%;
}
#taste3{
    width: 75%;
}
#ad{
    margin-top: 90px;
}
#ad .container{
    width: 400px;
    height: 434px;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    position: relative
}
#ad .container h1{
    font-family: Lobster;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #FFFFFF;
position: absolute;
top: 30px;
left: 28%;
}
#ad .container img{
    width: 354px;
height: 336px;
position: absolute;
    top: 94px;
}
#ad .container span{
    position: absolute;
    bottom: 45px;
    left: 31%;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF99;
}
/* Media Query for Mobile/Tablet */
@media (max-width: 768px) {
    .blog_1,.blog_2,.blog_3,.blog_4,.blog_5,.blog_6 {
        flex-direction: column; /* Change to column layout on smaller screens */
        align-items: center; /* Center the content */
    }

    .blog_1 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .blog_2 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .blog_3 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .blog_4 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .blog_5 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .blog_6 img {
        margin-right: 0; 
        margin-bottom: 20px;
width: 100%;
    }
    .minidiv img{
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-right: 2px;
    }
    .minidiv h1{
        padding-left: 10px;
    }
    #taste1{
        width: 100%;
    }
    #taste2{
        width: 100%;
    }
    #taste3{
        width: 100%;
    }
}


/* pagination */
#pagination{
    margin: 40px 0px 170px 0px;
}
#pagination .box{
    text-align: center;
}
#pagination .box a{
display: inline-block;
width: 64px;
height: 64px;
border-radius: 16px;
border: 1px solid #0000001A; 
text-decoration: none;
color: #000000;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 21.78px;
letter-spacing: -0.02em;
text-align: center;
padding-top: 20px;
margin-right: 10px;
}
#pagination .box a.active{
    color: #fff;
    background: #000000;
}
@media screen and (max-width:960px) {
    #pagination .box a.hide{
        display: none;
    }
}
/* footer */

.foot {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.foot-2{
    padding-top: 50px; 
    padding-bottom: 50px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    padding-left: 520px; 
    text-decoration: none;
    color: #000;
}
.line-1{
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #00000032;
    left: 6%;
}
@media screen and (max-width: 992px) {
    .foot {
        flex-direction: column;
        align-items: flex-start;
    }

    .foot-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .social-icons {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .foot {
        padding: 20px;
    }

    .footer-text {
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 65px;
    }
}