* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: #000;
    text-decoration: none;
    padding-left: 40px;
}

.logo a span {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    padding: 0px 15px;
    color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.social-icons a {
    padding: 0px 14px;
    color: #000;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #00000032;
    top: 79px;
}

@media screen and (max-width: 768px) {
    .logo{
        padding-top: 10px;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 25px;
        right: 20px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        background-color: orange;
        display: none;
        flex-direction: column;
        text-align: center;
        height: 430px;
        z-index: 10000;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 30px 0;
    }

    .hamburger {
        display: block;
    }

    .social-icons {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .logo a {
        font-size: 20px;
    }

    .nav-links li a {
        font-size: 14px;
    }

    .hamburger {
        font-size: 24px;
    }
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading h1{
    padding-top: 55px;
    font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 77.45px;
letter-spacing: -0.04em;
text-align: center;
}
.heading p{
    padding-top: 20px;
    font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color:#00000099;
}
.search_box{
    padding-top: 80px;
}
 .search_box label{
    position: relative;
 }
.search_box input{
width: 700px;
height: 80px;
border-radius: 20px;
border: 1px solid #0000001A;
font-family: "Inter", sans-serif;
font-size: 14px;
padding-left: 30px;
}
.search_btn{
    position: absolute;
    width: 160px;
    height: 60px;
    right: 7px;
    top: 10px;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
letter-spacing: -0.02em;
border-radius: 20px;
cursor: pointer;
background: #000000;
color: #fff;
}
@media screen and (max-width:960px){
    main{
        flex-direction: column;
    }
   .heading h1{
    font-size: 50px;
   }
   .heading p{
        padding: 15px 30px;
        font-size: 14px;
   }
   .search_box{
        padding: 30px 10px;
   }
   .search_box input{
        width: 300px;
        height: 50px;
        padding-left: 30px;
        font-size: 12px;
   }
   .search_box button{
    display: none;
   }
}
#inbox{
    width: 100%;
    margin-top: 90px;
    margin-bottom: 190px;
    position: relative;
}
.inbox_box .container{
    width: 100%;
height: 442px;
border-radius: 60px;
opacity: 1;
    background: #E7F9FD;
}
.inbox_content{
position: relative;
width: 100%;
text-align: center;
padding-top: 80px;
}
.inbox_box .container h1{
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 58.09px;
letter-spacing: -0.04em;
padding-bottom: 20px;
}
.inbox_box .container p{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #00000099;
}
.inbox_content_1{
position: relative;
}
.inbox_img_1{
position: absolute;
right: -10px;
top:140px;
width: 220px;
height: 220px;
}
.inbox_img_2{
    position: absolute;
    left: -10px;
    top:140px;
    width: 220px;
    height: 220px;
}
.inbox_img_3{
    position: absolute;
    right: 225px;
    top:180px;
    width: 66.85px;
height: 90.96px;
rotate: -30deg;
}
.search_box_2{
    margin-top: 60px;
}
.search_box_2 label{
    position: relative;
}
.search_box_2 input{
    width: 480px;
height: 70px;
border-radius: 24px;
border: none;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
    padding-left: 30px;
text-align: left;
color: #00000066;
}
.search_box_2  button{
    position: absolute;
    width: 160px;
height: 55px;
border-radius: 24px;
right: 4px;
    top: 7px;
    background: #000000;
    color: white;
    font-family: inter;
    font-size: 14px;
}
@media screen and (max-width:960px) {
    .inbox_content{
        padding-top: 40px;
    }
    .inbox_img img{
        display: none;
    }
    .search_box_1{
        padding: 30px 10px;
   }
   .search_box_1 input{
        width: 100%;
        padding-left: 10px;
        font-size: 12px;
   }
   .search_box_1 .search_btn{
    position: absolute;
    top: 40px;
    right: 20px;
   }
   .search_box_2 input{
    width: 350px;
    height: 50px;
   }
   .search_box_2  button{
    position: absolute;
    width: 20px;
   }
    .search_box_2 button{
        width: 60px;
        font-size: 10px;
        height: 40px;
        font-size: 10px;
        top: 4px;
    }
}
/* Blog_lists */
#blog_posts {
    margin-top: 100px;
}

.blog_list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.blog_list .img_box {
    flex-basis: 35%;
    height: auto;
}

.blog_list .img_box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.blog_list_1 {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 40px;
}

.img_box_1 {
    flex-basis: 35%;
    height: auto;
}

.blog_list_1 .img_box_1 img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
}

.blog_list .content_box,
.blog_list_1 .content_box {
    flex-basis: 65%;
    padding: 10px 0px 0px 30px;
}

.blog_list .content_box h1,
.blog_list_1 .content_box h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    text-align: left;
    padding-bottom: 10px;
}

.blog_list .content_box p,
.blog_list_1 .content_box p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #00000099;
}
#unique_div{
    margin-top: -25px;
}
.user {
    display: flex;
    align-items: center;
    padding-top: 20px;
    position: relative;
}

.user .user_img img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 10px;
}

.user_img {
    display: flex;
}

.user .user_img_name h1 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 15px;
}
.line2{
    position: absolute;
    top: 45px;
    left: 42%;
    width: 20px;
    height: 1px;
    background-color:  #0000001A;
    rotate: 90deg;
}
.user .date h1 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: #00000099;
    padding-top: 10px;
    padding-left: 100px;
}

.taste_heading h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
}

.taste_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taste_box_1 {
    display: flex;
    margin-bottom: 15px;
}

.taste_box .img_box {
    flex-basis: 50%;
    height: 100px;
}

.taste_box img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 30px;
}

.taste_box .content_box {
    flex-basis: 50%;
    padding-left: 20px;
}

.taste_box .content_box h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

.taste_box .content_box p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #00000099;
}
/* General Styles for the container */
.ad_section {
    width: 100%; /* Full width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.ad_box {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center content vertically within the box */
    align-items: center; /* Center content horizontally within the box */
    width: 100%; /* Full width */
    height: 480px; /* Fixed height */
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    border-radius: 10px; /* Optional rounded corners */
}

/* Style for h1 */
.ad_box h1 {
    font-family: Lobster;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: white;
}

/* Style for img */
.ad_box img {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-top: 20px;
}

/* Style for p */
.ad_box p {
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF99;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .ad_box {
        height: auto; /* Let height adjust to content for smaller screens */
    }

    .ad_box h1 {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }

    .ad_box p {
        font-size: 0.9rem; /* Smaller text size */
    }
}

/* Small mobile responsiveness */
@media (max-width: 480px) {
    .ad_box {
        padding: 10px; /* Less padding for small screens */
    }

    .ad_box h1 {
        font-size: 1.2rem; /* Adjust font size */
    }

    .ad_box p {
        font-size: 0.8rem; /* Smaller font size */
    }
}

@media (max-width: 990px) {
    .blog_list, .blog_list_1 {
        flex-direction: column;
    }

    .blog_list .img_box, .blog_list_1 .img_box_1 {
        flex-basis: 100%;
    }

    .blog_list .content_box, .blog_list_1 .content_box {
        flex-basis: 100%;
        padding: 10px;
    }

    .taste_box_1 {
        flex-direction: column;
        flex-basis: 100%;
    }
    .taste_box_1 img{
        width: 100%;
    }

    .taste_box .img_box {
        flex-basis: 100%;
        height: auto;
    }

    .taste_box .content_box {
        flex-basis: 100%;
    }

    .taste_box .content_box h1{
        padding-top: 20px;
    }
    #inbox{
        padding: 0px 10px;
    }
    .inbox_content_1 h1{
        font-size: 40px;
    }
    .user .user_img_name h1{
        padding-top: 0;
    }
    .search_box_2 button{
        display: none;
    }
}

@media screen and (min-width:991px) and (max-width:1440px){
    .taste_box_1{
        margin-bottom: 40px;
    }
}
@media screen and (min-width:1440px) and (max-width:2560px){
    #unique_div{
        margin-top: 20px;
    }
    .ad_section{
        margin-top: 50px;
    }
    .taste_box_1{
        margin: 50px 0px;
    }
    .taste_box_1 img{
        width: 400px;
        height: 180px;
    }
}
@media screen and (min-width:2560px) and (max-width:10000px){
    .taste_box_1{
        margin: 60px 0px;
    }
    .taste_box_1 img{
        width: 400px;
        height: 180px;
    }
    .ad_box{
        margin-top: 100px;
    }
    .blog_list_1 p{
        padding: 0px 20px;
    }
}
/* pagination */
#pagination{
    margin: 40px 0px 170px 0px;
}
#pagination .box{
    text-align: center;
}
#pagination .box a{
display: inline-block;
width: 64px;
height: 64px;
border-radius: 16px;
border: 1px solid #0000001A; 
text-decoration: none;
color: #000000;
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 21.78px;
letter-spacing: -0.02em;
text-align: center;
padding-top: 20px;
margin-right: 10px;
}
#pagination .box a.active{
    color: #fff;
    background: #000000;
}
@media screen and (max-width:960px) {
    #pagination .box a.hide{
        display: none;
    }
}
/* footer */

.foot {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.foot-2{
    padding-top: 50px; 
    padding-bottom: 50px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    padding-left: 520px; 
    text-decoration: none;
    color: #000;
}
.line-1{
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #00000032;
    left: 6%;
}
@media screen and (max-width: 992px) {
    .foot {
        flex-direction: column;
        align-items: flex-start;
    }

    .foot-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-text {
        padding-left: 20px;
    }

    .social-icons {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .foot {
        padding: 20px;
    }

    .footer-text {
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 65px;
    }
}